.logo{
    visibility:hidden;
}

.home{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
    
}



.home-left__title{
   font-size: 3rem;
   color: var(--grey);
}

.home-left__description{
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: lighter;
    color: var(--grey);
}


.home-right{
    width: 50%;
    margin-top: 2rem;
    margin-right: 2rem ;
}

.home-right__image{
    width: 100%;
    animation: mover 2s 3s infinite alternate;

}

.home-left__form{
    margin-top: 2rem;
}

.home-left__form-message{
    display: block;
    width: 20rem;
    padding: 1rem 3rem 1rem 0;
    font-size: 1rem;
    text-align: center;
    color: var(--grey);
    background-color: var(--line-color);
    animation: fade-in-right 4s 0s 1 alternate;
    position: absolute;
    left: 19.5rem;
    padding-top: .8rem;
    visibility: hidden;
    z-index: 1000;
}

.email-error{
    margin-top: 4.2rem;
}

.home-left__form-success{
    width: 30rem;
    padding: 1rem 3rem 1rem 0;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    color: var(--grey);
    background-color: var(--line-color);
    animation: fade-in-right 4s 0s 1 alternate;
    top: 0;
    right: -5rem;
    padding-top: .8rem;
    visibility: hidden;
    z-index: 1000;
}

.home-left__form-input{
    display: block;
    font-size: 1.1rem;
    padding: .8rem 2.5rem;
    border: 1px solid;
    border-radius: 2rem;
    color: var(--grey);
    border-color: var(--grey);
    background-color: transparent;
    margin-bottom: 1rem;
}

.home-left__form-btn{
    margin-top: 1rem;
    padding: .8rem 7.5rem;
    border: 1px solid;
}

.home-left__form-btn:hover{
    background-color: #a80acc;
    border: none;  
    color: #fff;  
}

.home-bottom__logo{
    font-size: 3rem;
    color: var(--grey);
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.break{
    line-break: strict;
}

@keyframes mover {
    0% {
     transform: translateY(0); 
    }
    100% { 
        transform: translateY(-2rem);
     }
}

@keyframes fade-in-right {
    0%{
        opacity: 1;
        visibility: visible;
    }
    80%{
        opacity: 1;
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@media screen and (max-width: 780px){

    .logo{
        visibility: visible;
        padding-top: 3rem;
    }
    
    .home{
        flex-direction: column;
        margin: 0 auto;
    }

    .home-left{
        margin-top: 2rem;
    }

    .home-left__title{
        font-size: 1.5rem;
        text-align:center;
    }

    .home-left__description{
        margin-top: 1rem;
        font-size: .9rem;
        text-align: center;
    }

    .home-left__break-description{
        display: none;
    }

    .home-left__form-message{
        font-size: .8rem;
        padding-top: .8rem;
        top: 1rem;
        left: -4rem;
        z-index: 1000;
        position: absolute;
    }
    
    .email-error{
        margin-top: 4rem;
    }
    
    .home-left__form-success{
        font-size: .8rem;
        padding-top: .8rem;
        top: 1rem;
        left: -4rem;
        z-index: 1000;
        position: absolute;
    }

    .home-left__form-input{
        padding: .8rem 2.4rem;
    }

    
    .home-right{
        margin: 3rem auto;
        width: 100%;
    }

    .home-right__image{
        animation: none;
    }

    .home-bottom__logo{
       display: none;
    }
}